/* this css file will only style the homepage of our site */

#self {
  width: 350px;
  height: 380px;
  padding: 0px;
  margin-left: 10px;
  border: dashed 2px;
  background-color: #1fe4fe;
  float: left;
}
/* gotten from W3Schools*/
.zoom {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}

#slide{
  width: 450px;
  padding: 0px;
  margin-right: 200px;
  border: dashed 2px;
  background-color: #1fe4fe;
  text-align: center;
  float: right;
  
}

#links{
  columns: 3;
}
